body{
  background-color: #d0e4f3;
  margin-top: 100px;
}

div.tab{
  background-color: #F0F0F0;
  width: 1000px;
  height: 50px;
  border: 1px solid black;
}

div.homeTab{
  background-color: #FFFFFF;
  width: 300px;
  height: 40px;
  float: left;
  margin-left: 16px;
  margin-top: 4px;
  text-align: center;
  border: 1px solid black;
}

div.browseTab{
  background-color: #FFFFFF;
  width: 300px;
  height: 40px;
  margin-left: 30px;
  margin-top: 4px;
  float: left;
  text-align: center;
  border: 1px solid black;
}

div.accountTab{
  background-color: #FFFFFF;
  width: 300px;
  height: 40px;
  margin-left: 30px;
  margin-top: 4px;
  float: left;
  text-align: center;
  border: 1px solid black;
}

p.tabs{
  margin-top: 10px;
}

div.home{
  background: #F0F0F0;
  width: 1000px;
  height: 700px;
  margin-top: 50px;
  display: block;
  border: 1px solid black;
}

div.browse{
  background: #F0F0F0;
  width: 1000px;
  height: 700px;
  margin-top: 50px;
  display: none;
  border: 1px solid black;
}

div.account{
  background: #F0F0F0;
  width: 1000px;
  height: 700px;
  margin-top: 50px;
  display: none;
  border: 1px solid black;
}

div.changePassword{
  background-color: #FFFFFF;
  width: 300px;
  height: 400px;
  margin-left: 50px;
  margin-top: 50px;
  border: 1px solid black;
}

input[type=password]{
  float:right;
  margin-right: 5px;
}
